//set some of the important decorations

$background-color:#f7db09;
$primary-color:#AD141E;
$normal-text-color:#505050;
$border-color:#000000;
$highlighted-text-color:lighten($normal-text-color, 20%);
