//set some of the important decorations

$background-color:#FFFFFF;
$primary-color:#AD141E;
$normal-text-color:#000000;
$border-color:#000000;
$highlighted-text-color:lighten($normal-text-color, 20%);
