@import "extras/variables.scss";
@import "extras/mixins.scss";
@import "extras/placeholders.scss";

//color themes:
// yellow: #f7db09 rgb(247, 219, 9)
//   gray: #444444 rgb(80, 80, 80)

@font-face {
  font-family: 'Prime';
  src: url('../font/Prime-Light.otf') format("opentype");
}
.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.logo-link {
  width: 32px;
  height:32px;
}

 .navbar-nav.navbar-right:last-child{
    margin-right:15px;
}

.text {
  color:$normal-text-color;
  font-family: Prime, monospace;
  font-size: 1.2em;
  text-decoration: none;
  background-color: none;
  font-weight: bold;
  &:hover {
    color:$normal-text-color;
    font-family: Prime, monospace;
    text-decoration: none;
    background-color: none;
    font-size: 1.2em;
    font-weight: bold;
  }
  &:visited {
    color:$normal-text-color;
    font-family: Prime, monospace;
    text-decoration: none;
    background-color: none;
    font-size: 1.2em;
    font-weight: bold;
  }
}

::-webkit-scrollbar {
    display: none;
}

.nav a {
  cursor: pointer;
}

#home {
  background : {
    color:$background-color;
    image: url("../img/stata.jpg");
    repeat: no-repeat;
    size: cover;
    position:center;
  }
  h1 {
    font-family: Prime, monospace;
    font-weight: bold;
      font-size: 4em;
  }
  h3 {
      font-family: Prime, monospace;
      font-size: 2.5em;
      font-weight: bold;
  }
  text-align: center;
  color:$normal-text-color;
  height: 780px;
}

#about {
  background : {
    color:$background-color;
  }
  text-align: center;
  font-family: Prime, monospace;
  color:$normal-text-color;
  height: 780px;
  h1 {
    font-family: Prime, monospace;
      font-size: 4em;
  }
  h3 {
      font-family: Prime, monospace;
      font-size: 2.5em;
  }
}


#résumé {
  font-family: Prime, monospace;
  text-align: center;
  color:$normal-text-color;
  height: 780px;
  h1 {
    font-family: Prime, monospace;
      font-size: 4em;
  }
  h3 {
      font-family: Prime, monospace;
      font-size: 2.5em;
  }
}

canvas {
  position:absolute;
}

#canvasShell {
  background-color:$background-color;
  float:left;
  position: relative;
  width: 100%;
  height: 780px;
  overflow:hidden;
}
